#container{
    width:600px;
    height: 800px;
    padding:10px;
    border:1px solid red;
    margin: 0 auto;
    background: #CCCCCC;
}

#information{
    padding:10px;
    font-size:22px;
    background:pink;
    border: 1px solid red;
    margin-bottom:10px;
}

#scena{
    width:600px;
    height: 600px;    
    border:1px solid;
    background-image: url("../images/space.jpg");   
}

